apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: bull-exporter-monitor
  labels:
    app: bull
    role: exporter
spec:
  selector:
    matchLabels:
      app: bull
      role: exporter
  endpoints:
  - port: bullexporter
